


@media (max-width:1124px){
    .service-items {
        padding: 60px 20px;
        box-sizing: border-box;
    }
}

@media (max-width:946px){
    .header-right ul li a {
        padding: 10px 11px;
    }
}
@media (max-width:834px){
    .banner-section {
        padding: 132px 0;
    }
    .banner-section h1 {
        font-size: 36px;
    }
    .banner-section h5 {
        font-size: 17px;
    }
}

@media (max-width:822px){
    .header-left {
        width: 100%;
        text-align: center;
    }
    .header-right {
        width: 100%;
    }
    .header-right ul {
        text-align: center;
        margin-top: 10px;
    }

    .service-items h1 {
        font-size: 19px;
    }
}

@media (max-width:704px){
    .contact-items {
        width: 100%;
        margin-bottom: 42px;
    }
    .service-items {
        width: 50%;
        padding: 30px 20px;
    }
    .service-headding p {
        margin-bottom: 30px;
    }
}


@media (max-width:646px){
    .about-left-img {
        width: 100%;
    }
    .about-right-content {
        width: 100%;
    }
    .about-right-content {
        padding: 0 10px;
        text-align: center;
    }
    .about-section {
        padding: 19px 20px;
    }
}

@media (max-width:606px){
    .header-left {
        font-size: 13px;
    }
    .header-right ul li a {
        padding: 7px 7px;
    }
   
}


@media (max-width:446px){
    .banner-section {
        padding: 83px 20px;
    }
    .banner-section h1 {
        font-size: 27px;
    }
    .banner-section h5 {
        font-size: 18px;
        padding: 36px 0;
    }
    .service-items {
        width: 100%;
        padding: 20px 20px;
    }
    .service-headding p {
        padding: 0 20px;
    }



}
@media (max-width:384px){
    .footer-section {
        padding: 20px 10px;
    }
}